.box {
    overflow: hidden;
    border-radius: 32px;
    will-change: transform;
    background: #f2f2f2;
    position: relative;
    width: 100%;
    margin: 10px;

}


.box .box-content {
    padding: 36px;
    height: 100%;
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.title {
    font-size: 20px;
    font-weight: 500;
}


.description {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1rem;
    background: #2777b857;
    width: 100%;
    color: white;
    border-radius: 10px;
    text-align: center;
  
}
.description, .title {
    font-family: silka medium,sans-serif;
  
}

.waving-hand {
    width: 25px;
}

.grid_1_1 {
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 200;
    grid-gap: 1rem;
}


#minibox{
    background-color: white;
    font-weight: 200;
}
p{
    font-weight: 200;
}

#section {
    background: white;
    border-radius: 10px;
    font-weight: 400;
    text-align: center;
    width: 300px;
    color: white;
    background-image: linear-gradient(to bottom, #acc8de, #8db4d4, #6e9fcb, #4e8bc2, #2777b8);
}