.my-navbar {
  width: 250px;
  background-color: #1068b0;
}

.my-navlink {
  margin: 0px;
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.my-navlink .icon {
  flex: 30%;
  text-align: center;
}

.my-navlink .title {
  flex: 70%;
}

.my-navlink:hover {
  background-color: #2777b8;
}

.my-navlink:active {
  background-color: #2777b8;
}

.active {
  background-color: #2777b8;
}
